" Settings
set showmode
set showcmd
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set hlsearch
set wrapscan
set clipboard+=unnamed,unnamedplus
set keymodel=startsel,stopsel

" Plugins
set highlightedyank
set surround
set commentary
set argtextobj
set exchange
set vim-indent-object

" Keymap
nnoremap <SPACE> <Nop>
let mapleader = " "
nmap <leader><right> :vsp<enter>
nmap <leader><down> :sp<enter>

" Keymap - Intellij specific"
" https://github.com/JetBrains/ideavim/blob/master/src/main/java/com/maddyhome/idea/vim/package-info.java
nmap gr :action ShowUsages<CR>
" nmap gd :action GotoDeclaration<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>
nmap <leader>ff :action ReformatCode<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>vv :action IntroduceVariable<CR>
vmap <leader>vv :action IntroduceVariable<CR>
nmap <leader>mm :action ExtractMethod<CR>
vmap <leader>mm :action ExtractMethod<CR>
nmap <leader>ii :action Inline<CR>
nmap <leader>oo :action OptimizeImports<CR>

" Settings - Intellij specific
" https://github.com/JetBrains/ideavim/wiki/sethandler
set clipboard+=ideaput
set ideajoin
sethandler <C-2> a:ide
sethandler <C-6> a:ide
sethandler <C-a> a:ide
sethandler <C-b> a:ide
sethandler <C-c> a:ide
sethandler <C-d> a:ide
sethandler <C-e> a:ide
sethandler <C-f> a:ide
sethandler <C-g> a:ide
sethandler <C-h> a:ide
sethandler <C-i> a:ide
sethandler <C-j> a:ide
sethandler <C-k> a:ide
sethandler <C-l> a:ide
sethandler <C-m> a:ide
sethandler <C-n> a:ide
sethandler <C-o> a:ide
sethandler <C-p> a:ide
sethandler <C-q> a:ide
sethandler <C-r> a:ide
sethandler <C-s> a:ide
sethandler <C-t> a:ide
sethandler <C-u> a:ide
sethandler <C-v> a:ide
sethandler <C-w> a:ide
sethandler <C-x> a:ide
sethandler <C-y> a:ide
sethandler <C-[> a:ide
sethandler <C-\> a:ide
sethandler <C-]> a:ide

" Remapping delete and cut operations so they don't affect the current yank
" https://github.com/svermeulen/vim-cutlass
snoremap ! <C-o>"_c
snoremap \" <C-o>"_c
snoremap # <C-o>"_c
snoremap $ <C-o>"_c
snoremap % <C-o>"_c
snoremap & <C-o>"_c
snoremap ' <C-o>"_c
snoremap ( <C-o>"_c
snoremap ) <C-o>"_c
snoremap * <C-o>"_c
snoremap + <C-o>"_c
snoremap , <C-o>"_c
snoremap - <C-o>"_c
snoremap . <C-o>"_c
snoremap / <C-o>"_c
snoremap 0 <C-o>"_c
snoremap 1 <C-o>"_c
snoremap 2 <C-o>"_c
snoremap 3 <C-o>"_c
snoremap 4 <C-o>"_c
snoremap 5 <C-o>"_c
snoremap 6 <C-o>"_c
snoremap 7 <C-o>"_c
snoremap 8 <C-o>"_c
snoremap 9 <C-o>"_c
snoremap : <C-o>"_c
snoremap ; <C-o>"_c
snoremap < <C-o>"_c
snoremap = <C-o>"_c
snoremap > <C-o>"_c
snoremap ? <C-o>"_c
snoremap @ <C-o>"_c
snoremap A <C-o>"_c
snoremap B <C-o>"_c
snoremap C <C-o>"_c
snoremap D <C-o>"_c
snoremap E <C-o>"_c
snoremap F <C-o>"_c
snoremap G <C-o>"_c
snoremap H <C-o>"_c
snoremap I <C-o>"_c
snoremap J <C-o>"_c
snoremap K <C-o>"_c
snoremap L <C-o>"_c
snoremap M <C-o>"_c
snoremap N <C-o>"_c
snoremap O <C-o>"_c
snoremap P <C-o>"_c
snoremap Q <C-o>"_c
snoremap R <C-o>"_c
snoremap S <C-o>"_c
snoremap T <C-o>"_c
snoremap U <C-o>"_c
snoremap V <C-o>"_c
snoremap W <C-o>"_c
snoremap X <C-o>"_c
snoremap Y <C-o>"_c
snoremap Z <C-o>"_c
snoremap [ <C-o>"_c
snoremap ] <C-o>"_c
snoremap ^ <C-o>"_c
snoremap _ <C-o>"_c
snoremap ` <C-o>"_c
snoremap a <C-o>"_c
snoremap b <C-o>"_c
snoremap c <C-o>"_c
snoremap d <C-o>"_c
snoremap e <C-o>"_c
snoremap f <C-o>"_c
snoremap g <C-o>"_c
snoremap h <C-o>"_c
snoremap i <C-o>"_c
snoremap j <C-o>"_c
snoremap k <C-o>"_c
snoremap l <C-o>"_c
snoremap m <C-o>"_c
snoremap n <C-o>"_c
snoremap o <C-o>"_c
snoremap p <C-o>"_c
snoremap q <C-o>"_c
snoremap r <C-o>"_c
snoremap s <C-o>"_c
snoremap t <C-o>"_c
snoremap u <C-o>"_c
snoremap v <C-o>"_c
snoremap w <C-o>"_c
snoremap x <C-o>"_c
snoremap y <C-o>"_c
snoremap z <C-o>"_c
snoremap { <C-o>"_c
snoremap } <C-o>"_c
snoremap ~ <C-o>"_c
snoremap <bs> <c-o>"_c
snoremap <space> <c-o>"_c<space>
snoremap \\ <c-o>"_c\
snoremap \| <c-o>"_c|
xnoremap <silent> c "_c
xnoremap <silent> C "_C
xnoremap <silent> s "_s
xnoremap <silent> S "_S
xnoremap <silent> d "_d
xnoremap <silent> D "_D
xnoremap <silent> x "_x
xnoremap <silent> X "_X
nnoremap <silent> c "_c
nnoremap <silent> C "_C
nnoremap <silent> s "_s
nnoremap <silent> S "_S
nnoremap <silent> d "_d
nnoremap <silent> D "_D
nnoremap <silent> x "_x
nnoremap <silent> X "_X
nnoremap <silent> cc "_S
nnoremap <silent> dd "_dd
